language: node_js

node_js:
  - "lts/*"

<<<<<<< HEAD
=======
cache: false

>>>>>>> f32c8b8f7aad3a21034b347207c134840bf1471a
services:
  - docker

install:
  - "bin/installDeps.sh"
  - "export GIT_HASH=$(git rev-parse --verify --short HEAD)"
  - "npm install ep_test_line_attrib"

before_script:
  - "tests/frontend/travis/sauce_tunnel.sh"

script:
  - "tests/frontend/travis/runner.sh"

env:
  global:
    - secure: "WMGxFkOeTTlhWB+ChMucRtIqVmMbwzYdNHuHQjKCcj8HBEPdZLfCuK/kf4rG\nVLcLQiIsyllqzNhBGVHG1nyqWr0/LTm8JRqSCDDVIhpyzp9KpCJQQJG2Uwjk\n6/HIJJh/wbxsEdLNV2crYU/EiVO3A4Bq0YTHUlbhUqG3mSCr5Ec="
    - secure: "gejXUAHYscbR6Bodw35XexpToqWkv2ifeECsbeEmjaLkYzXmUUNWJGknKSu7\nEUsSfQV8w+hxApr1Z+jNqk9aX3K1I4btL3cwk2trnNI8XRAvu1c1Iv60eerI\nkE82Rsd5lwUaMEh+/HoL8ztFCZamVndoNgX7HWp5J/NRZZMmh4g="

jobs:
  include:
    - name: "Run the Backend tests"
      install:
        - "mkdir ep_comments_page"
        - "mv !(ep_comments_page) ep_comments_page"
        - "git clone https://github.com/ether/etherpad-lite.git etherpad"
        - "cd etherpad"
        - "mkdir node_modules"
        - "mv ../ep_comments_page node_modules"
        - "bin/installDeps.sh"
        - "export GIT_HASH=$(git rev-parse --verify --short HEAD)"
        - "npm install ep_test_line_attrib"
        - "cd src && npm install && cd -"
      script:
        - "tests/frontend/travis/runnerBackend.sh"
    - name: "Test the Frontend"
      install:
        - "mkdir ep_comments_page"
        - "mv !(ep_comments_page) ep_comments_page"
        - "git clone https://github.com/ether/etherpad-lite.git etherpad"
        - "cd etherpad"
        - "mkdir node_modules"
        - "mv ../ep_comments_page node_modules"
        - "bin/installDeps.sh"
        - "export GIT_HASH=$(git rev-parse --verify --short HEAD)"
        - "npm install ep_test_line_attrib"
      script:
        - "tests/frontend/travis/runner.sh"

notifications:
  irc:
    channels:
      - "irc.freenode.org#etherpad-lite-dev"
