note{
  display:block;
}

.pre-selected-comment {
  background: #FFE168 !important;
}

time{
  display:none;
}

.sidebar-comment:hover .comment-text,
.sidebar-comment.mouseover .comment-text{
  height:auto;
  white-space:normal;
  text-overflow:auto;
}

.sidebar-comment{
  line-height:24px;
}

.sidebar-comment:hover,
.sidebar-comment.mouseover{
  height:auto;
  white-space:normal;
  text-overflow:auto;
}

.sidebar-comment:hover .comment-reply-button,
.sidebar-comment.mouseover .comment-reply-button {
  display:block;
}

.comment-changeTo-approve{
  margin:0px 0px 10px 0px;
}

.reply-suggestion.active {
  display: block;
}

.sidebar-comment-reply{
  padding-top:5px;
  padding-left:10px;
  margin-bottom: 5px;
  position: relative;
}

.sidebar-comment-reply:nth-child(even){
  background-color:#f1f1f1;
}

.comment-reply{
  margin-bottom:5px;
}

.comment-reply-input{
  margin-top:10px;
  width:187px;
}

#comments {
  display:none;
  width:210px;
  bottom:0;
  position:absolute;
  top:10px;
  right:0px;
  font-family: Helvetica, Arial, sans-serif;
  z-index:1;
}

#newComments {
  display:none;
  width:210px;
  bottom:0;
  position:absolute;
  top:10px;
  right:0px;
  font-family: Helvetica, Arial, sans-serif;
  z-index:1;
}

#newComments.active {
  display:block;
  z-index: 1000;
}

.comment-reply-button{
  float:right;
  display:none;
}

.comment-reply-button:hover{
  cursor:pointer;
  color:#000;
}

.comment-reply, .suggestion{
  font-weight:bold;
  color:#555
}
.reply-suggestion .reply-comment-suggest-from, .suggestion .comment-suggest-from, .comment-changeTo-value, .comment-changeFrom-value{
  font-weight: normal;
  color: black;
  padding-left: 0.5em;
  border:none;
  border-left: 2px solid #DDD;
  max-height: 5em;
  width: 178px;
  overflow-y: auto;
  white-space: normal;
  line-height: 1.3em;
}

.sidebar-comment {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  right:0px;
  margin-left: 10px;
  padding: 0px 5px 5px 5px;
  background: white;
  width:90%;
  height:20px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-box-shadow: 0 0 2px #888;
  -webkit-box-shadow: 0 0 2px #888;
  box-shadow: 0 0 2px #888;
  position:absolute;
  font-size:12px;
}

.sidebar-comment input[type=submit]{
  padding:2px;
}

.sidebar-comment:hover,
.sidebar-comment.mouseover{
  z-index:999;
}

.sidebar-comment.mouseover {

  z-index:99999;
  margin: 0px 0 0 14px;
  white-space:normal;
  height:auto;
  -webkit-transition: z-index 100ms ease-in, margin 100ms ease-in, background 100ms ease-in;
  -moz-transition: z-index 100ms ease-in, margin 100ms ease-in, background 100ms ease-in;
  -ms-transition: z-index 100ms ease-in, margin 100ms ease-in, background 100ms ease-in;
  -o-transition: z-index 100ms ease-in, margin 100ms ease-in, background 100ms ease-in;
  transition: z-index 100ms ease-in, margin 100ms ease-in, background 100ms ease-in;
}

.comment-author-name {
  color: #555;
  font-weight:bold;
  font-size: 1em;
  display:inline;
}

.comment-changeTo-label, .comment-changeFrom-label{
  color: #555;
  font-weight:bold;
  font-size: 1em;
  display:inline;
}

.comment-text {
  font-size: 1em;
  color: #333;
  word-wrap: break-word;
  white-space: normal;
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-comment textarea {
  border: 2px solid #DDD;
  background: #fff;
  width: 170px;
  height: 40px;
  padding: 5px;
  font-size:1em;
}

.comment-content:focus {
  border: 2px solid #ccc;
}

.comment-buttons input {
  color: #666;
  border: 2px solid #DDD;
  background: #EEE;
  width: 59px;
  height: 30px;
  font-size:12px;
}

.comment-buttons input[type="submit"] {
  margin-right: 5px;
  width:120px;
}

.comment-buttons input:hover {
  color: #333;
  cursor: pointer;
}

#newComment.visible{
  width:250px;
  right:0px;
  -webkit-transition: width 500ms;
  -moz-transition: width 500ms;
  -ms-transition: width 500ms;
  -o-transition: width 500ms;
  transition: width 500ms;
  height:auto;
  min-height:100px;
}

#newComment.hidden{
  width:0px;
  right:-50px;
  -webkit-transition: right 500ms, width 500ms;
  -moz-transition: right 500ms, width 500ms;
  -ms-transition: right 500ms, width 500ms;
  -o-transition: right 500ms, width 500ms;
  transition: right 500ms, width 500ms;
}

#newComment{
  position:fixed;
  display:block;
  width:0px;
  z-index:1000;
  font-size:12px;
}

#outerdocbody{
  width:1050px;
}

/* if Page View is disabled, we use the full width. (This is only changed
  by commentIcons.js) */
#outerdocbody.pageViewDisabled{
  width:100%;
}

/* dont display comments at < 955px wide */
@media (max-width: 955px) {
  #outerdocbody{
    width:100%;
    padding-right:0px;
  }
}
/* #innerdocbody is inside of another iframe, so needs a new media query */
@media (max-width: 947px) { /* 955 - 8 (8 is #innerdocbody left position) */
  #innerdocbody{
    margin-right:0px;
  }
}

/* display comments at > 955px wide */
@media (min-width: 955px) {
  #comments.active{
    display:block;
  }
}
/* #innerdocbody is inside of another iframe, so needs a new media query */
@media (min-width: 947px) { /* 955 - 8 (8 is #innerdocbody left position) */
  #innerdocbody.comments:not(.innerPV){
    margin-right:200px;
  }
}

.suggestion, .reply-suggestion{
  display:none;
}

.sidebar-comment-reply input{
  margin-bottom:10px;
/*  margin-left:40px; */
}

.comment-options-button{
  float: right;
}
.comment-options-selected{
  background-color: #d8d8d8;
}

.comment-options-button--icon{
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzLjk2OSIgaGVpZ2h0PSIyMC4xNTYiIHZpZXdCb3g9IjAgMCAzLjk2OSAyMC4xNTYiPjxzd2l0Y2g%2BPGcgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiM2RTcwNzIiPjxwYXRoIGQ9Ik0zLjk1NyAyLjk2NWExLjk2NSAxLjk2NSAwIDEgMS0zLjkzIDAgMS45NjUgMS45NjUgMCAwIDEgMy45MyAwTTMuOTU3IDkuOTY1YTEuOTY1IDEuOTY1IDAgMSAxLTMuOTMgMCAxLjk2NSAxLjk2NSAwIDAgMSAzLjkzIDBNMy45NTcgMTYuOTY1YTEuOTY1IDEuOTY1IDAgMSAxLTMuOTMgMCAxLjk2NSAxLjk2NSAwIDAgMSAzLjkzIDAiLz48L2c%2BPC9zd2l0Y2g%2BPC9zdmc%2B);
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 2px;
  margin: 6px;
  background-size: contain;
  background-position: 50% 50%;
}

.comment-options{
  position: absolute;
  background-color: #dcdcdc;
  margin-left: 108px;
  top: 24px;
  right: 5px;
  z-index: 999;
}

.comment-delete, .comment-edit {
  display: block;
  font-weight: bold;
  cursor: pointer;
  color: #555;
  margin-top: 1px;
  padding: 0 18px;
}

.comment-edit:hover, .comment-delete:hover{
  background-color: #b3b3b3;
}
