/* save button */
.theme-dark input.comment-button--save {
  box-shadow: 0.5px 0.5px 0.5px 0.5px #141419; /* color 20 */
  background-color: #323237; /* color 50 */
}
.theme-dark input.comment-button--save:hover {
  color: #A0A2A6; /* color 160 */
}
.theme-dark input.comment-button--save:focus {
  color: #FFFFFF; /* color 255 */
}
.theme-dark input.comment-button--save:active {
  color: #FFFFFF; /* color 255 */
}
