#commentIcons {
  display: block;
  z-index: 1;
  margin-left: 760px;
  padding-left: 25px;
}

/* when line numbers are not visible, we need to move icons to the left */
#sidediv.sidedivhidden ~ #commentIcons {
  padding-left: 0px;
}

/* when page view is disabled, we need to move icons to the left */
#outerdocbody.pageViewDisabled #commentIcons {
  margin-left: calc(100% - 90px);
}

/* this is the point where #comments will be visible (check media queries on comment.css) */
@media (min-width: 955px) {
  #outerdocbody.pageViewDisabled #commentIcons {
    margin-left: calc(100% - 290px);
  }
}

.comment-icon-line {
  position: absolute;
}
.comment-icon {
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  vertical-align: middle;
  width: 16px;
  margin-right: 5px;
}
.comment-icon:before {
  font-family: "fontawesome-etherpad";
  content: "\e838";
  color:#666;
  font-size:14px;
  padding-top:2px;
  line-height:17px;
}

.comment-icon.with-reply:before {
  content: "\e828";
}

.comment-icon.active:before {
  color:orange;
}
