/* add shadowed border */
.theme-light .ui-dialog {
  background-color: #FFFFFF; /* color 255 */

  -webkit-box-shadow: 0px 2px 15px 5px #DCDEE1; /* color 220 */
  -moz-box-shadow: 0px 2px 15px 5px #DCDEE1; /* color 220 */
  box-shadow: 0px 2px 15px 5px #DCDEE1; /* color 220 */
}

/* font color */
.theme-light .ui-dialog-content,
.theme-light .ui-dialog-title,
.theme-light .ui-dialog-content textarea {
  color: #64666A; /* color 100 */
}

/* dialog sections separator */
.theme-light .ui-dialog-content > div:not(:last-child) {
  border-bottom: 1px solid #DCDEE1; /* color 220 */
}

/* save button */
.theme-light input.comment-button--save {
  box-shadow: 1px 1px 1px 1px #DCDEE1; /* color 220 */
  background-color: #FFFFFF; /* color 255 */
}
.theme-light input.comment-button--save:hover {
  color: #515256; /* color 80 */
}
.theme-light input.comment-button--save:active {
  color: #19BBDA; /* color A */
}

/* title bar */
.theme-light .ui-dialog .ui-dialog-titlebar {
  background-color: #EBECED; /* color 235 */
}

/* close button */
.theme-light .ui-dialog-titlebar-close:hover:not(:active) {
  fill: #000000; /* color 0 */
}
