<script src="../static/plugins/ep_comments_page/static/js/jquery.tmpl.min.js"></script>

<script id="commentsTemplate" type="text/html">
    <note id="${commentId}" class="sidebar-comment" title="${date}" data-commentid="${commentId}">
        <div class="comment-options-wrapper">
          <div class="comment-options-button">
            <span class="comment-options-button--icon"></span>
          </div>
          <div class="comment-options hidden">
            <div data-l10n-id="ep_comments_page.delete_comment.title" class="comment-delete-container">
                <span class="comment-delete" title="Delete this comment" data-l10n-id="ep_comments_page.delete_comment.title">delete</span>
            </div>
            <div class="comment-edit-container">
                <span class="comment-edit" title="Edit this comment" data-l10n-id="ep_comments_page.edit_comment.title">edit</span>
            </div>
          </div>
        </div>
        <div class="comment-author-name">${name}:</div>
        <div class="comment-text">${text}</div>
        <div class="comment-datetime" datetime="${formattedDate}">${date}</div>
        {{if changeTo}}
        <form class="comment-changeTo-form">
            <div class="comment-changeFrom">
                <span class="comment-changeFrom-label" data-l10n-id="ep_comments_page.comments_template.from">From:</span>
                <span class="comment-changeFrom-value">${changeFrom}</span>
            </div>
            <div class="comment-changeTo">
                <span class="comment-changeTo-label" data-l10n-id="ep_comments_page.comments_template.suggested_change">Suggested Change:</span>
                <span class="comment-changeTo-value">${changeTo}</span>
            </div>
            <div class="comment-changeTo-approve">
                <input type="Submit" value="Accept Change" data-l10n-id="ep_comments_page.comments_template.accept_change.value">
            </div>
        </form>
        {{/if}}
        <form class='comment-reply'>
            <div class='comment-reply-input-label'>
                <label data-l10n-id="ep_comments_page.comments_template.reply_input_label">Your Reply (hit ENTER to send)</label>
                <input class='comment-reply-input'>
            </div>
            <div class="reply-comment-suggest">
                <input type="checkbox" id="reply-suggestion-checkbox-${commentId}" class="reply-suggestion-checkbox">
                <label for="reply-suggestion-checkbox-${commentId}" data-l10n-id="ep_comments_page.comments_template.include_suggestion">Include suggested change</label>
            </div>
            <div class="reply-suggestion">                
                <div class="reply-comment-suggest-from-p">
                    <label data-l10n-id="ep_comments_page.comments_template.from">From:</label>
                    <span class="reply-comment-changeFrom-value">${changeFrom}</span>
                </div>
                <div class="reply-comment-suggest-to-p">
                    <label data-l10n-id="ep_comments_page.comments_template.to">To:</label>
                    <textarea class="reply-comment-suggest-to"></textarea>
                </div>
            </div>
            <!-- for test purposes only -->
            <input type="submit" value="Comment" data-l10n-id="ep_comments_page.comments_template.comment.value" />
            <input type="reset" id="comment-reset" value="Cancel" data-l10n-id="ep_comments_page.comments_template.cancel.value" />
        </form>
    </div>
</script>

<script id="newCommentTemplate" type="text/html">
    <form id="newComment" class="sidebar-comment">        
        <div class="comment-text">
            <label data-l10n-id="ep_comments_page.comment" for="comment-content">Comment</label>
            <textarea class="comment-content" id="comment-content" autofocus></textarea>
        </div>

        <div class="comment-suggest">
            <input type="checkbox" id="suggestion-checkbox">
            <label for="suggestion-checkbox" data-l10n-id="ep_comments_page.comments_template.include_suggestion">Include suggested change</label>
        </div>
        <div class="suggestion">
            <div data-l10n-id="ep_comments_page.comments_template.suggest_change">Suggest Change</div>
            <div class="comment-suggest-from-p">
                <label data-l10n-id="ep_comments_page.comments_template.from" for="comment-suggest-from">From:</label>
                <textarea id="comment-suggest-from" class="comment-suggest-from" disabled="disabled"></textarea>
            </div>
            
            <div class="comment-suggest-to-p">
                <label data-l10n-id="ep_comments_page.comments_template.to" for="comment-suggest-to">To:</label>
                <textarea id="comment-suggest-from" class="comment-suggest-to"></textarea>
            </div>
        </div>

        <div class="comment-buttons">
            <input type="submit" value="Comment" data-l10n-id="ep_comments_page.comments_template.comment.value" />
            <input type="reset" id="comment-reset" value="Cancel" data-l10n-id="ep_comments_page.comments_template.cancel.value" />
        </div>
    </form>
</script>

<script id="replyTemplate" type="text/html">
    <note id="${replyId}" class="sidebar-comment-reply" data-commentid="${replyId}">
        <div class="comment-options-wrapper">
          <div class="comment-options-button">
            <span class="comment-options-button--icon"></span>
          </div>
          <div class="comment-options hidden">
            <div class="comment-edit-container">
                <span class="comment-edit" title="Edit this comment" data-l10n-id="ep_comments_page.edit_comment.title">edit</span>
            </div>
          </div>
        </div>
        <div class="comment-author-name">${name}:</div>
        <div class="comment-text">${text}</div>
        <div class="comment-datetime" datetime="${formattedDate}">${date}</div>
        {{if changeTo}}
        <form class="comment-changeTo-form">
            <div class="comment-changeTo">
                <span class="comment-changeTo-label" data-l10n-id="ep_comments_page.comments_template.suggested_change">Suggested Change</span>
                <div class="reply-comment-suggest-from-p">
                  <span data-l10n-id="ep_comments_page.comments_template.from">From:</span>
                  <span class="comment-changeFrom-value">${changeFrom}</span>
                </div>
                <div class="reply-comment-suggest-from-p">
                  <span data-l10n-id="ep_comments_page.comments_template.to">To:</span>
                  <span class="comment-changeTo-value">${changeTo}</span>
                </div>
            </div>
            <div class="comment-reply-changeTo-approve">
                <input type="Submit" value="Accept Change" data-l10n-id="ep_comments_page.comments_template.accept_change.value">
            </div>
        </form>
        {{/if}}
    </note>
</script>

<script id="editCommentTemplate" type="text/html">
  <div class="comment-edit-form">
    <textarea class="comment-edit-text"></textarea>
    <div>
      <button data-l10n-id="ep_comments_page.comments_template.edit_comment.save" class="comment-edit-submit"></button>
      <button data-l10n-id="ep_comments_page.comments_template.edit_comment.cancel" class="comment-edit-cancel"></button>
    </div>
  </div>
</script>
