<p>
  <input type="checkbox" id="options-comments-overview" <%= checked %>>
  <label for="options-comments-overview"
         data-l10n-id="ep_comments_page.comments_overview.title">Show all comments</label>
</p>
