<script src="../static/plugins/ep_comments_page/static/js/lib/jquery.tmpl.min.js"></script>
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous">
</script>

<script id="closeButton" type="text/html">
  <span>
    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 9.9 9.9">
      <polygon points="6.9 2.3 5 4.2 3 2.3 2.3 3 4.2 5 2.3 6.9 3 7.6 5 5.7 6.9 7.6 7.6 6.9 5.7 5 7.6 3 "/>
    </svg>
  </span>
</script>

<script id="newCommentTemplate" type="text/html">
  <form id="newComment">
    <div class="comment-author">
      <authoricon>TK</authoricon>
      <authorname>Luiza Figueiredo Pagliari Luiza Figueiredo Pagliari</authorname>
    </div>
    <div class="comment-text">
      <textarea class="comment-content" autofocus placeholder="write here your comment" data-l10n-id="ep_comments_page.comments_template.comment.placeholder"></textarea>
    </div>
    <div class="comment-buttons">
      <input class="comment-button--save" type="submit" value="Save" data-l10n-id="ep_comments_page.comments_template.save.value" />
    </div>
  </form>
</script>
