<!DOCTYPE html>
<html>
  <head>
    <title>Comments</title>
    <link href="../static/plugins/ep_comments_page/static/style.css" rel="stylesheet">
  </head>
  <body>
    <%- body %>
  </body>
</html>
